* {
	margin: 0;
	padding: 0;
}
body {
	background: chocolate;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	padding: 60px;
}
.container {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	background: #fff;
	border-radius: 4px;
	padding: 40px;
	cursor: pointer;
}
input[type='text'] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type='submit'] {
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
